<table class="table table-striped">
    <thead>
    </thead>
	<tbody>
		<% @bookmarks.each do |bookmark| %>
			<tr>
  				<td>
					<p><span class="label label-info"><i class="icon-time icon-white"></i> 
					<%= bookmark.created_at.strftime("%d/%m/%y") %></span> 
					<%= link_to(bookmark.url, {:target => '_blank'}) do %><i class="icon-share-alt"></i>
					    <%= bookmark.title %><% end %></p>
					<p><span class="add-on"><i class="icon-map-marker"></i></span> <%= bookmark.url[0..84] %><%= "..." if bookmark.url.size > 85 %>  <%= link_to(edit_bookmark_path(bookmark), {:class => "btn btn-mini"}) do %>
					    <i class="icon-pencil"></i>
					    edit
					    <%end%>
					    <%= link_to(bookmark, {confirm: 'Are you sure?', method: :delete, :class => "btn btn-mini"}) do %>
					    <i class="icon-trash"></i> 
					     remove
					    <% end %>
					
                    <p><%bookmark.tags.each do |tag| %>
	                     <%= link_to({:controller => "bookmarks", :action => "tag", :name => tag.name}) do %>
	                    <i class="icon-tag"></i> 
	                        <%= tag.name %>
	                    <%end%> 
                    <%end%></p>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>

<%= will_paginate @bookmarks %>

<% content_for :page_title do %>
	bookmark's
<%end%>

<% content_for :sidebar do %>
	<h6>Tags</h6>
	<div class="well" style="overflow: auto;height: 400px;">
	<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, :controller => "bookmarks", :action => "tag", :name => tag.name %> <code><%= tag.bookmarks.size %></code></li>
		<%end%>
	</ul>
<%end%>

