<ul class="breadcrumb">
	<li><a href="#">Home</a> <span class="divider">/</span></li>
	<li class="active">roberto bookmark's</li>
</ul>

<ul class="bookmarks_list">
<% @bookmarks.each do |bookmark| %>
	<li class="bookmark_item <%= cycle('even', 'odd') %>">
		<div><p><span class="label notice"><%= bookmark.created_at.strftime("%d/%m/%y") %></span> <a href="<%= bookmark.url %>"><%= bookmark.title %></a></p>
			<p><%= bookmark.url %> <%= link_to 'edit', edit_bookmark_path(bookmark), :class => "label" %> <%= link_to 'delete', bookmark, :confirm => 'Are you sure?', :method => :delete, :class => "label" %></p></div>
		<div>
			<%bookmark.tags.split.each do |tag| %>
				<code><%=tag%></code> 
			<%end%>
		</div>
	</li>
<% end %>
</ul>

	<div class="pagination">
	  <ul>
	    <li class="prev disabled"><a href="#">&larr; Previous</a></li>
	    <li class="active"><a href="#">1</a></li>
	    <li><a href="#">2</a></li>
	    <li><a href="#">3</a></li>
	    <li><a href="#">4</a></li>
	    <li><a href="#">5</a></li>
	    <li class="next"><a href="#">Next &rarr;</a></li>
	  </ul>
	</div>
	
<br />