<ul class="bookmarks_list">	
<% @bookmarks.each do |bookmark| %>
	<li class="bookmark_item <%= cycle('even', 'odd') %>">
		<div><p><span class="label notice"><%= bookmark.created_at.strftime("%d/%m/%y") %></span> <%= link_to bookmark.title, bookmark.url, :target => '_blank' %></p>
			<p><%= bookmark.url %> <%= link_to 'edit', edit_bookmark_path(bookmark), :class => "label" %> <%= link_to 'delete', bookmark, :confirm => 'Are you sure?', :method => :delete, :class => "label" %></p></div>
		<div>
			<%bookmark.tags.each do |tag| %>
				<code><%= link_to tag.name, :controller => "bookmarks", :action => "tag", :name => tag.name %></code> 
			<%end%>
		</div>
	</li>
<% end %>
</ul>

<%= will_paginate @bookmarks %>

<% content_for :page_title do %>
	bookmark's
<%end%>

<% content_for :sidebar do %>
	<h6>Tags</h6>
	<div class="well" style="overflow: auto;height: 400px;">
	<ul>
		<% @tags.each do |tag| %>
			<li><%= link_to tag.name, :controller => "bookmarks", :action => "tag", :name => tag.name %> <code><%= tag.bookmarks.size %></code></li>
		<%end%>
	</ul>
<%end%>

