<div class="progress progress-striped active">
  <div class="bar" style="width: 40%;"></div>
</div>

<%= form_for(:import, :html => {:multipart => 'true', :class =>'form-stacked'}) do |f| %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :upload %>
      <div class="input">
		<%= f.file_field :upload, :class => "span8" %>
      </div>
    </div>
  <div class="actions">
    <%= f.submit('import now',:class => "btn btn-large btn-primary") %>
    <%= link_to 'Cancel', bookmarks_path, :class => 'btn' %>
  </div>
  </fieldset>

<% end %>

<%= content_for :script do%>
<script>
window.setInterval(function() {
    $.getJSON('/import.json', function(data) {
      $('.bar').css('width',data+'%')
    });
}, 10000);
    
</script>

<%end%>

