<table class="table table-striped">
    <thead>
    </thead>
	<tbody>
		<% @import_tasks.each do |import_task| %>
			<tr>
  				<td>
  				    <div class="alert alert-info">
                            <strong><%= import_task.file_name%></strong> <span class="badge badge-info"><%= sprintf("%.2f Kb",import_task.file_size/1024.0) %></span> <span class="label label-info"><%= import_task.created_at.strftime("%d/%m/%y - %H:%M") %></span>
                          </div>  				    
					<div class="progress">
                      <div id="bar_<%=import_task.id%>" class="bar" style="width: 0%;"></div>
                    </div>
                </td>

            </tr>
        <% end %>
    </tbody>
</table>


<%= form_for(:import, :html => {:multipart => 'true', :class =>'form-stacked'}) do |f| %>

  <fieldset>
    <div class="clearfix">
      <%= f.label :upload %>
      <div class="input">
		<%= f.file_field :upload, :class => "span8" %>
      </div>
    </div>
  <div class="actions">
    <%= f.submit('import now',:class => "btn btn-large btn-primary") %>
    <%= link_to 'Cancel', bookmarks_path, :class => 'btn' %>
  </div>
  </fieldset>

<% end %>

<%= content_for :script do%>

<script>

$('div[id*="bar_"]').each(function(){
    task_id = $(this).attr('id').split('_')[1];
    update_bar(task_id);
});

function update_bar(task_id){
    interval_id = window.setInterval(function() {
              $.getJSON('/import/status/'+task_id+'.json', function(data) {
                $('#bar_'+task_id).css('width',data+'%');
                if (data == 100) {
                  window.clearInterval(interval_id);
                }
              });
          }, 1000);
}

</script>

<%end%>