<!DOCTYPE html>
<html>
<head>
  <title>Mybookmarks</title>
  <%= stylesheet_link_tag "bootstrap.min", "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

   <div class="topbar">
     <div class="fill">
       <div class="container">
         <a class="brand" href="#">MyBookmarks</a>
         <ul class="nav">
           <li class="active"><a href="#">Home</a></li>
           <li><a href="#about">About</a></li>
           <li><a href="#contact">Contact</a></li>
         </ul>
         <form action="" class="pull-right">
           <input class="input-small" type="text" placeholder="Username">
           <input class="input-small" type="password" placeholder="Password">
           <button class="btn" type="submit">Sign in</button>
         </form>
       </div>
     </div>
   </div>

   <div class="container">

     <div class="content">
       <div class="page-header">
         <h1>Page name <small>Supporting text or tagline</small></h1>
       </div>
       <div class="row">
         <div class="span10">
			<%= yield %>
         </div>
         <div class="span4">
			<h6>Bookmarks</h6>
			<p><%= link_to 'New Bookmark', new_bookmark_path, :class => "btn large success" %></p>
			<p><a href="#" class="btn large primary">Import from Delicious</a></p>
			<p><a href="#" class="btn small">Browser plugins</a></p>
			<h6>Tags</h6>
			<div class="well">
			<ul>
			 <li><a href="#">noticias</a></li>
			 <li><a href="#">portal</a></li>
			 <li><a href="#">brasil</a></li>
			 <li><a href="#">noticias</a></li>
			 <li><a href="#">portal</a></li>
			 <li><a href="#">brasil</a></li>
			 <li><a href="#">noticias</a></li>
			 <li><a href="#">portal</a></li>
			 <li><a href="#">brasil</a></li>
			 <li><a href="#">noticias</a></li>
			 <li><a href="#">portal</a></li>
			 <li><a href="#">brasil</a></li>
			</ul>
			</div>
			
         </div>
       </div>
     </div>

     <footer>
       <p>&copy; Company 2011</p>
     </footer>

   </div> <!-- /container -->

 </body>

</html>
